<div>
    <h2> <%= @list.name %> </h2>
    <ul>
      <%= @movies.each do |movie| %>
        <li> <%= movie.title %> </li>
        <li> <%= movie.overview %> </li>
        <li> <%= movie.poster_url %> </li>
        <li> <%= movie.rating %> </li>
    <% end %>
    </ul>
        <h3><i class="fa-regular fa-bookmark"></i><%= link_to "Add a Bookmark", new_list_bookmark_path(@list.bookmarks) %> </h3>

        <h3><%= link_to "All lists", lists_path  %></h3>

</div>
